# Dependencies
/node_modules

# Production build
/dist

# Environment variables
.env

# Secret Keys
service-account-key.json
# macOS
.DS_Store
node_modules
dist
build
.env
.env.*
service-account-key.json
